html {
  font-family: Arial;
  font-size: 20px;
}

div {
  /* border: 1px solid red; */
}

img {
  border-radius: 8px;
  display: block;
  object-fit: cover;
  width: 335px;
  height: 500px;
  padding-bottom: 10px;
}

.tab {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}



/* Create an active/current tablink class */
.tab button.active {
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 15px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 15px #c1c1c1;
          box-shadow: inset 0px 0px 15px #c1c1c1;
   outline: none;
}

/* Style the tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.active {
  display: block;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

.info-line {
  display: flex;
}

.info-line strong, .info-line p {
  display: table;
  height: 30px;
  max-width: 100%;
  font-size: 18px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}

.info-line p {
  padding-left: 5px;
  word-wrap: break-word;
}

.patient-doctor-span-block {
  width: 30%;
}

#profile {
  display: block;
  margin: auto;
  width: 80%;
}

#pharmacyInfo {
  width: 50%;
  margin: auto;
  justify-content: space-between;
}

#pharmacyInfo h2 {

    width: 50%;
  margin: auto;
}

.table-header {
  text-align:center
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.h-center {
  text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
